.modal-tab {
    max-width: 90%  !important;
}

.formlabel{
    font-size: 10px;
}

@media screen and (max-width: 400px) {
    .modal-tab {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 480px) {
    .modal-tab {
        max-width: 100% !important;
    }
}
