.container-fluid {
    padding-bottom: 20px;
}

.header {
    padding: 50px;
    font-weight: bolder;
    color: orangered;
}

.row img {
    width: 90%;
    padding: 10px;
}

.heading {
    font-weight: bold;
    color: green;
}

.span {
    color: red;
}

.sub-heading {
    font-weight: bold;
    color: orangered;
}

.sub-span {
    font-weight: bold;
}

.btn-primary {
    background-color: orangered !important;
    border-color: orangered !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary.focus .btn-primary:focus .btn-primary:active {
    background-color: orangered !important;
    border-color: orangered !important;
    outline: none !important;
    box-shadow: none !important;
}

.modal-footer {
    flex-wrap: nowrap !important;
}

.foot {
    font-size: 14px;
    font-weight: bold;
}





/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
